@keyframes blur-shrink-out {
  0% {
    filter: blur(0px);
    transform: scale(1);
    opacity: 1;
  }
  40% {
    filter: blur(30px);
    transform: scale(1.1);
    opacity: 0.8;
  }
  100% {
    filter: blur(50px);
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes blur-shrink-in {
  0% {
    filter: blur(50px);
    transform: scale(0);
    opacity: 0;
  }
  60% {
    filter: blur(30px);
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    filter: blur(0px);
    transform: scale(1);
    opacity: 1;
  }
}
